/Asemointi_Harjoitus
/CSS_Harjoitus_3
/CSS_Harjoitus_4
/CSS_Harjoitus_5
/CSS_Harjoitus_6
/Harjoitus1_valitsimet
/Harjoitus_flexbox
/Harjoitus_Jokeri
/Harjoitus_Mittayksikot
/Harjoitus_responsiivisuus
/html_harjoitus1
/html_harjoitus2
/html_harjoitus3
/joku_harjoitus
/Loppuharjoitus
/paska123
/viikko5