div {
  font-size:32px;
  margin-left:1rem;
}

.header1{
  font: bold;
  font-size: 1em;
}
.header2{
  font-size: 0.8em;
}
img{
  width: 450px;
  border-radius: 100px;
}
a.link {
  display: flex;
  margin-bottom: 0.2em;
  font-size:0.5em;
}
p {
  font-size:0.5em;
}